/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: rgb(94, 93, 93);
}

/******************************************
/* LAYOUT
/*******************************************/
span {
  display: block;
  font-weight: bold
}

button {
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid lightblue;
}

input, 
span {
  margin-top: 10px;
}

input, 
span,
button, 
h2 {
  margin-left: 10px;
}

h1 {
  margin-left: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#artistName,
#songName {
  border-radius: 10px;
  border: 1px solid lightblue;
  padding: 5px;
}

button:hover {
  background: lightgray;
  
}



/* <input type="text" name="word" class="form-control" id="search" style="border-radius: 20px 0 0 20px;border-left: none;" placeholder="Try another word"> */